---
const {componentData} = Astro.props;
---
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        {componentData.assets.map((asset) => 
          <div class="card">
            <div class="date">
              <p>{asset.date}</p>
            </div>
            <img src={asset.image.src} alt={asset.image.altText}>
            <p class="type">{asset.type}</p>
            <h3>{asset.title}</h3>
          </div>
        )}
      </div>
    </div>
  </div>
</section>