---
const {componentData} = Astro.props;
---
<section class="container">
  <div class="row">
    <div class="col flex">
      {componentData.assets.map((asset) => 
        <div class="card">
          <div class="date">
            <p>{asset.date}</p>
          </div>
          <img src={asset.image.src} alt={asset.image.altText}>
          <p class="type eyebrow">{asset.type}</p>
          <h3 class="heading-600">{asset.title}</h3>
        </div>
      )}
    </div>
  </div>
</section>