---
const {componentData} = Astro.props;
---
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <p set:html={componentData.eyebrow} class="eyebrow"></p>
        <h2 set:html={componentData.heading}></h2>
      </div>
      <div class="col">
        <p>{componentData.caption}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {componentData.keyPoints.map((point) => 
          <div class="key-point">
            <h3>{point.heading}</h3>
            <hr>
            <p>{point.content}</p>
          </div>
        )}
      </div>
      <div class="col">
        <img src={componentData.imageLeft.src} alt={componentData.imageLeft.altText}>
        <img src={componentData.imageRight.src} alt={componentData.imageLeft.altText}>
      </div>
    </div>
  </div>
</section>