---
const {componentData} = Astro.props;
---
<section class="container">
  <div class="row">
    <div set:html={componentData.content}></div>
    <div class="col">
      <figure>
        <img src={componentData.image.src} alt={componentData.image.altText}>
        <figcaption>{componentData.image.caption}</figcaption>
      </figure>
    </div>
  </div>
</section>