---
const {componentData} = Astro.props;
---
<section>
  <div class="container">
    <div class="row">
      <div set:html={componentData.content} class="col"></div>
      <div class="col">
        <figure>
          <img src={componentData.image.src} alt={componentData.image.altText}>
          <figcaption>{componentData.image.caption}</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>