---
import { Picture } from 'astro:assets';

const {componentData} = Astro.props;
const images = import.meta.glob('../images/*');
---
<section class="w-full bg-dark-100 py-25">
  <div class="container mx-auto grid grid-cols-12">
    <div class="col-start-2 col-span-4 flex flex-col gap-10">
      <div class="flex flex-col">
        <p set:html={componentData.eyebrow} class="eyebrow text-red"></p>
        <h2 set:html={componentData.heading} class="heading-200"></h2>
      </div>
      <Picture class="w-full flex-1 object-cover object-center rounded-xl" src={images[componentData.image.src]()} formats={['avif','webp']} alt="" />
    </div>
    <div class="col-start-7 col-span-5">
      <div class="flex flex-col gap-4">
        {componentData.faq.map((item) => 
          <div class="bg-white p-6 rounded-lg pr-10">
            <h3 class="heading-600 mb-2">{item.heading}</h3>
            <div set:html={item.content}></div>
          </div>
        )}
      </div>
    </div>
  </div>
</section>