---
import { Picture } from 'astro:assets';

const {componentData} = Astro.props;
const images = import.meta.glob('../images/*');
---
<section class="bg-dark-100 w-full py-15">
  <div class="container mx-auto">
    <div class="grid grid-cols-12 gap-5 mb-15 p-8 bg-center bg-no-repeat rounded-xl min-h-[540px] overflow-hidden relative text-white">
      <Picture class="absolute object-cover object-center left-0 top-0 h-full w-full z-0" src={images[componentData.image.src]()} formats={['avif','webp']} alt="simple KMECO logo" />
      <div class="absolute top-0 left-0 min-h-full min-w-full z-1 bg-linear-to-t from-dark-800 to-transparent"></div>
      <div class="col-start-1 col-span-7 content-end z-2">
        <p set:html={componentData.eyebrow} class="eyebrow text-red"></p>
        <h1 set:html={componentData.heading} class="heading-display"></h1>
      </div>
      <div class="col-start-9 col-span-4 content-end z-2">
        <p set:html={componentData.content}></p>
        <a href={componentData.cta.ctaHref}>{componentData.cta.ctaLabel}</a>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-5"> 
      {componentData.cards.map((card) => 
        <div class="card">
          <h3 class="heading-500">{card.cardHeading}</h3>
          <hr class="my-4 border-dark-200">
          <p>{card.cardContent}</p>
        </div>
      )}
    </div>
  </div>
</section>