---
const {componentData} = Astro.props;
---
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <p set:html={componentData.eyebrow} class="eyebrow"></p>
        <h2 set:html={componentData.heading}></h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {componentData.team.map((item) => 
          <div class="card">
            <img src={item.image.src} alt={item.image.altText}>
            <h3>{item.firstName} {item.lastName}</h3>
            <p>{item.title}</p>
          </div>
        )}
      </div>
    </div>
  </div>
</section>